.root-layout {
	-fx-background-image: url('/images/background.jpg');
	-fx-background-size: cover;
	-fx-base: black;
}

.dialog-root-layout {
	-fx-background-image: url('/images/background.jpg');
	-fx-background-size: auto;
	-fx-base: black;
	-fx-border-color: black;
	-fx-border-width: 1;
}

.alert {
	-fx-base: black;
	-fx-border-color: black;
	-fx-border-width: 1;
}

.title-label {
	-fx-font: bold 40pt 'Century Gothic', sans-serif !important;
	-fx-alignment: center;
	-fx-content-display: center;
}

.text-area {
	-fx-base: black;
	-fx-font: 9pt 'Century Gothic', sans-serif;
}

.label {
	-fx-text-fill: white;
	-fx-font: bold 11pt 'Century Gothic', sans-serif;
	-fx-effect: dropshadow(three-pass-box, black, 10.0, 0.0, 2.0, 2.0);
}

.check-box {
	-fx-text-fill: white;
	-fx-font: bold 9pt 'Century Gothic', sans-serif;
	-fx-effect: dropshadow(three-pass-box, black, 10.0, 0.0, 2.0, 2.0);
}

.scroll-pane {
	-fx-background-color: transparent;
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.progress-indicator {
	-fx-progress-color: orange;
}

.button {
	-fx-base: #2C2D2D;
	-fx-background-radius: 7px;
	-fx-font: 14pt 'Century Gothic', sans-serif;
	-fx-text-fill: white;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.button:pressed {
	-fx-effect: innershadow(three-pass-box, black, 10.0, 0.0, 0.0, 0.0);
}

.button#_goBackButton {
	-fx-pref-height: 40.0px;
	-fx-pref-width: 64.0px;
	-fx-graphic: url('/images/go_back_arrow.png')
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}

.version-label {
	-fx-font: 11pt 'Courier New', serif !important;
}