.bordered-titled-title {
  -fx-translate-y: -25;
  -fx-font-size: 22pt;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 20 15 15 15;
  -fx-padding: 5 5 5 5;
  -fx-background-color: #00000080;
  -fx-border-color: black;
  -fx-border-width: 2;
}

.bordered-titled-content {
  -fx-padding: 26 10 10 10;
}