@import url("/css/Application.css");

.red-chip-button, .blue-chip-button, .green-chip-button, .go-back-button {
	-fx-background-color: transparent;
	-fx-background-size: contain; 
	-fx-background-position: center center; 
	-fx-background-repeat: no-repeat;
	-fx-font-weight: bold !important;
	-fx-effect: innershadow(three-pass-box, black, 10.0, 0.0, 0.0, 0.0);
}

.red-chip-button {
	-fx-background-image: url('/images/chip_red.png');
	-fx-font-size: 32pt !important;
}

.blue-chip-button {
	-fx-background-image: url('/images/chip_blue.png');
	-fx-font-size: 16pt !important;
}

.green-chip-button {
	-fx-background-image: url('/images/chip_green.png');
	-fx-font-size: 16pt !important;
}